.pageLinks{
  margin-top:40vh;
}
.projectLinks {
  
  border: 2px rgb(241, 236, 245) solid;
  border-radius: 50%;
  height: 16%;
  width: 60%;
  margin: 15px 15px 15px 15px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

#projectLinks {
  flex-direction: row;
  display: flex;
  justify-content: center;
}