@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 2;
  }
}

@keyframes ease-in-out {
}

/* Dialogue.css */

.dialogue-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh; /* Adjust as needed */
  padding-top: 10vh;
  padding-bottom: 10vh;
  margin-bottom: 10vh;
  font-style: oblique;
  font-size: 3rem;
  text-shadow: 0 0 10px #8e44ad, 0 0 20px #8e44ad, 0 0 30px #8e44ad,
    0 0 40px #8e44ad, 0 0 50px #8e44ad, 0 0 60px #8e44ad, 0 0 70px #8e44ad;
}

.dialogue-container > * {
  display: none;
}

.dialogue-container > .visible {
  display: block;
  animation: fade-in 1.5s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 2;
  }
}

.dialogue {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-weight: bold;
  color: whitesmoke;
  border-radius: 5px;
  font-family: serif;
  font-style: oblique;
  font-size: 2rem;
}

.dialogue.visible {
  opacity: 2;
}

.dialogue.hidden {
  opacity: 0;
  pointer-events: none;
}

/* Profile.css */

#MyName {
    color: rgb(14, 13, 13);
    text-shadow: 0 0 10px #3498db, 0 0 20px #3498db, 0 0 30px #2c1cda, 0 0 40px #2c1cda, 0 0 50px #2c1cda, 0 0 60px #2c1cda, 0 0 70px #2c1cda,
                 0 0 10px white, 0 0 20px white, 0 0 30px rgb(237, 185, 246), 0 0 40px rgb(242, 176, 238), 0 0 50px rgb(97, 6, 133), 0 0 60px rgb(113, 9, 239), 0 0 70px rgb(72, 7, 163);
    font-size: bolder;
    font-family: serif;
    font-style: oblique;
    font-size: 3.3rem;
}

/* 
#MyName {
  color: white;
  text-shadow: 0 0 10px #8e44ad, 0 0 20px #8e44ad, 0 0 30px #8e44ad,
    0 0 40px #8e44ad, 0 0 50px #8e44ad, 0 0 60px #8e44ad, 0 0 70px #8e44ad,
    0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white,
    0 0 50px white, 0 0 60px white, 0 0 70px white;
  font-size: bolder;
  font-family: serif;
  font-style: oblique;
  font-size: 3rem;
} */
