@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Dialogue.css */

.dialogue {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: bold;
    color: whitesmoke;
    border-radius: 5px;
    font-family: serif;
    font-style: oblique;
    font-size: 2rem;
}

.dialogue.visible {
    opacity: 1;
}

.dialogue.hidden {
    opacity: 0;
    pointer-events: none;
}

/* Profile.css */

#MyName {
    color: white;
    text-shadow: 0 0 10px #8e44ad, 0 0 20px #8e44ad, 0 0 30px #8e44ad, 0 0 40px #8e44ad, 0 0 50px #8e44ad, 0 0 60px #8e44ad, 0 0 70px #8e44ad;
    font-size: bolder;
    font-family: serif;
    font-style: oblique;
    font-size: 3rem;
}