body {
  font-family:sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./images/background.jpg");
  background-size: cover;
  overflow: hidden;
  margin-bottom: 10vh;
     list-style-position: outside;
}


@media (min-width: 1024px) {
  /* Styles for tablets and larger screens */
  body {
    padding: 40px;
  }
}

@media (min-width: 768px) {
  /* Styles for desktop screens */
  body {
    width: 50%;
    margin: auto;
    list-style-position: outside;
    background-position: right;
  }
}
